.button {
        -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
        -fx-background-insets: 0, 1, 2;
        -fx-background-radius: 5, 4, 3;
}
.root {
-fx-faint-focus-color: transparent;
-fx-focus-color: gray;
-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
                -fx-background-insets: 0, 1, 2;
                -fx-background-radius: 5, 4, 3;
}
.button:focused {
       -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
       -fx-background-insets: 0, 1, 2;
       -fx-background-radius: 5, 4, 3;
}
.toggleButton:focused {
        -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
        -fx-background-insets: 0, 1, 2;
        -fx-background-radius: 5, 4, 3;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#ff69b4,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 1.0em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :derive(#ff69b4,80.0%);
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-pane:horizontal .thumb,
.scroll-pane:vertical .thumb {
    -fx-background-color :derive(#ff69b4,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 1.0em;
}
.scroll-pane:horizontal .track,
.scroll-pane:vertical .track{
    -fx-background-color :derive(#ff69b4,80.0%);
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
#saveFilterButton {
     -fx-background-color:
            #ffe1f5,
            linear-gradient(#ff68ba 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #ffe1f5 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
#saveFilterButton:hover {
    -fx-background-color:
        #ff5bb7,
        linear-gradient(#ff68ba 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #ff68ba 45%, rgba(230,210,210,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(255,0,0,0.2);
}
#ok {
    -fx-background-color:
        #ffe1f5,
        linear-gradient(#ff68ba 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #ffe1f5 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
#ok:hover {
    -fx-background-color:
        #ff5bb7,
        linear-gradient(#ff68ba 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #ff68ba 45%, rgba(230,210,210,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(255,0,0,0.2);
}

#scrollPaneLoadPlugins, #installPluginAnchor {
    -fx-background-image: url("/img/rainbow.png"), url("/img/tux.png");
    -fx-background-size: 700, 300 ;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top, right 50 top 170;
    -fx-padding: 20,20,20,20;
}
#scrollPaneCredits, #scrollPaneAbout, #mainAnchor  {
    -fx-background-image: url("/img/rainbow.png");
    -fx-background-size: 700;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-padding: 20,20;
}

#labeledCredits .button{
   -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}

#githublink {
   -fx-background-color:
       transparent;
       -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-text-color: black;
}

#anchorCredits {
    -fx-background-image: url("/img/rainbow.png");
    -fx-background-size: 700;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffe1f5;
}
#mainAnchor {
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/img/rainbow.png");
    -fx-background-size: 300;
    -fx-background-color: #ffe1f5;
}
#loadFiltersAnchor{
    -fx-background-image: url("/img/rainbow.png");
    -fx-background-size: 700;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffe1f5;
}
#mainAnchorApp {
    -fx-background-image: url("/img/rainbow.png");
    -fx-background-size: 700;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #ffe1f5;
    }
#githublink:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}